**Data Cleaning and Pre-processing**



---

In this notebook, a series of Cleaning and Preprocessing steps will be conducted.

- Checking for Missing Values
- Checking for Null Values



---

#Importing Dependencies

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Loading the Data

In [77]:
data = pd.read_csv('/content/DailyEnergyDemandData.csv')

In [78]:
data.shape

(2440, 2)

In [79]:
data

            Date  Demand
0     2015-07-01   20243
1     2015-07-02   19275
2     2015-07-03   17682
3     2015-07-04   16523
4     2015-07-05   17620
...          ...     ...
2435  2022-03-01   18069
2436  2022-03-02   16941
2437  2022-03-03   17313
2438  2022-03-04   17953
2439  2022-03-05   16260

[2440 rows x 2 columns]

In [80]:
data['Demand'] = data['Demand'].astype(int)

In [81]:
data

            Date  Demand
0     2015-07-01   20243
1     2015-07-02   19275
2     2015-07-03   17682
3     2015-07-04   16523
4     2015-07-05   17620
...          ...     ...
2435  2022-03-01   18069
2436  2022-03-02   16941
2437  2022-03-03   17313
2438  2022-03-04   17953
2439  2022-03-05   16260

[2440 rows x 2 columns]

In [82]:
data.columns = ['Date', 'Demand']

#Data Cleaning



> Removing Missing and Null Values

In [83]:
data.isnull().sum()

Date      0
Demand    0
dtype: int64

In [84]:
data.replace({'?' : np.nan,'':np.nan, " ": np.nan, '-' :np.nan, '--':np.nan}, inplace = True)

In [85]:
data.isna().sum()

Date      0
Demand    0
dtype: int64

In [86]:
data.dropna(axis = 0, inplace= True)

#Data Preprocessing

> **Set 'Date' Column as Index:**

In [87]:
data = data.set_index('Date')

# Saving Cleaned Data To CSV

In [88]:
data.to_csv("DailyEnergyDemandDataCleaned.csv")